{{> header }}

    {{#if success_msg }}
        <div class="alert alert-success">
            {{ success_msg }}
        </div>
    {{/if}}

    <h1>Homepage</h1>

    <p>This is just a simple homepage, please navigate through menu above to visit the app.</p>

{{> footer }}