{{> header }}

{{#if success_msg }}
    <div class="alert alert-success">
        {{ success_msg }}
    </div>
{{/if}}

<h1>Peer Support</h1>

<p>Here you get support from the other online users, feel free to ask any question below for live support</p>

<div class="row" id="chatWindow">
    <div class="col-md-12" id="outputChat" style="min-height:300px; background-color:#c3c3c3;">

    </div>
</div>
<input type="text" value="{{ name }}" disabled placeholder="Handle" class="form-control" id="userName" />
<input type="text" value="" placeholder="Message" class="form-control" id="userMsg" />
<input type="submit" class="btn btn-success" id="send"/>

<!--<ul>
    <li>
        <ul class="list-inline">
            <li class="list-inline-item">Name: </li>
            <li class="list-inline-item"></li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="list-inline-item">Email: </li>
            <li class="list-inline-item"></li>
        </ul>
    </li>
</ul>-->

{{> footer }}