{{> header }}

    {{#if success_msg }}
    <div class="alert alert-success">
        {{ success_msg }}
    </div>
    {{/if}}
    {{#if error_msg }}
    <div class="alert alert-danger">
        {{ error_msg }}
    </div>
    {{/if}}
    {{#if error }}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {{/if}}

    {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">
            {{ this.msg }}
        </div>
        {{/each}}
    {{/if}}

    <form id="signup" method="post" action="/users/update-password">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input class="form-control" value="" name="password" id="password" placeholder="Password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input class="form-control" value="" name="new_password" id="new_password" placeholder="New Password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input class="form-control" value="" name="repeat" id="repeat" placeholder="Repeat Password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Update Password  </button>
        </div> <!-- form-group// -->
    </form>

{{> footer }}